<h2>Task Update</h2> 


<div [hidden]="submitted" style="width: 400px;">
        <form (ngSubmit)="onSubmit()">
      
      
          <div class="form-group">
            <label for="name">{{task.title}}</label>
            <input type="text" class="form-control" id="title" required [(ngModel)]="task.title" name="title">
          </div>
      
          <div class="form-group">
            <label for="name">{{task.note}}</label>
            <input type="text" class="form-control" id="note" required [(ngModel)]="task.note" name="note">
          </div>
      
          <button type="submit" class="btn btn-success">Update</button>
          <button (click)="goTolist()" type="button" class="btn btn-danger">Cancel</button>
        </form>
      </div>
      
      <div [hidden]="!submitted">
        <h4>You submitted successfully!</h4>
        <!-- <button class="btn btn-success" (click)="newtask()">Add</button> -->
      </div>